/***************************
B A S E   S T Y L E S
***************************/
/*
* {
	background: rgba(0, 0, 0, .1);
}
*/
body {
	font-family: 'Lora', serif;
	font-size: 1.5rem;
  background: #f9e8e8;
  color: #681a1a;
}
h1, h2, h3, h4, h5, h6, a, button, label {
	font-family: 'Montserrat', sans-serif;
}
button {
	width: 100px;
	height: 45px;
	font-weight: 700;
  font-size: 1.1rem;
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
  border: 4px outset #a52a49;
  color: #f9e8e8;
  background: #a52a49;
}
button:hover {
  border: 4px inset #a52a49;
  color: #f9e8e8;
  background: #681a1a;
}
button:focus, input:focus {outline:0;}

legend {
	font-weight: 700;
  border: 4px inset #2aa8a8;
  background:#1b6b6b;
  color: aliceblue;
  padding: 5px;
}
fieldset{border: 4px inset #2aa8a8;}

input {
	font-size: 1.5rem;
  color: #a52a49;
  border: 1px solid #681a1a;
}
form div {
	margin: 20px;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
/***************************
M A I N   S T Y L E S
***************************/

header {
	padding-left: 100px;
}
main {
	width: 80%;
	margin: 0 auto;
}
#randomArticle aside{
	justify-content: space-around;
	flex-flow: row wrap;
}
#randomArticle h6 {
  width: 40%;
  padding: 5px;
  background:#1b6b6b;
  color: aliceblue;
}
img {
	width: 250px;
	height: 250px;
  border-bottom: inset 10px #681a1a;
	border-right: inset 10px #a52a49;
	margin: 30px 20px 0 20px;
}
/***************************
M E D I A   Q U E R I E S
***************************/

@media only screen and (max-width: 500px) {
	header {
		padding-left: 0;
	}
	form div {
		margin: 5px;
	}
	main {
		width: 95%;
	}
	img {
		width: 300px;
		height: 300px;
	}
  #randomArticle aside{
  	justify-content: center; align-items: center;
}

}/**MEDIA QUERY**/
